@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Poppins:wght@400;600;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.bg-home {
  background-image: url('../public/bg-home.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dm-serif {
  font-family: 'DM Serif Text', serif;
}